@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
	/*font-family: 'Alfa Slab One', cursive;*/
	background-color: rgba(41,43,44,1);
	/*color: rgba(220,230,240,1);*/
}

a.navbar-brand {
	font-family: 'Permanent Marker', cursive !important;
}

.viewport-container {
	position: relative;
	display: block;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.viewport-container.img { 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;	
}

.viewport-container.img.one{
	background: url(/images/bkg-slide-1.jpg) no-repeat top center fixed; 
}

.viewport-container.img.two{
	background: url(/images/weepeevers-9.jpg) no-repeat center center fixed; 
}

.display-center-container {
	position: relative;
	display: block;
	margin-top: 21vh;
	font-family: 'Permanent Marker', cursive;
	/*border: 1px solid black;*/
}

h1,h2,h3,h4,h5 {
	font-family: 'Permanent Marker', cursive;
}

.display-center-container h1 {
	font-size: 15vw;
	/*font-size: 3.5vw; Full Screen*/
}

.display-center-container h4 {
	font-size: 5.5vw;
	/*font-size: 3.5vw; Full Screen*/
}

.col-12.image-1 {
/*  background: url(/images/weepeevers-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;*/
}

#image-1 {
	position: relative;
	display: block;
	width: 100%;
}



#profile-image {
	position: relative;
	display: block;
	max-height: 200px;
	width: auto;
	max-width: 100%;
	margin: 20px auto 0px auto;
}

.dark.card {
	background-color: rgba(0,0,0,0.75);
	color: rgba(220,230,240,1);
}

.navbar.bg-inverse {
	background-color: rgba(0,0,0,0.7) !important;
}






/* Bootstrap 4 Media Queries */


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
