<% include ../partials/header.ejs %>

<div class="viewport-container img one">
	<div class="container-fluid">    
	    <div class="row">
	        <div class="col-12 col-md-4 text-center text-md-left">
	            <div class="dark card mt-3">
	            	<div class="card-block">
	            		<h1 class="card-title mb-0">Wee Peevers</h1>
	            	</div>
	            </div>
	        </div><!-- .col -->
	        <div class="col-12 col-md-8 text-center text-md-left">
	            <div class="dark card mt-3">
	            	<div class="card-block">
	            		<h2 class="card-title mb-0">Next Show</h2>
	            		<div class="row">
	            			<div class="col-12 col-md-5">
	            				<img src="/images/event-082817.jpg" class="img-fluid mt-3">
	            			</div>
	            			<div class="col-12 col-md-7">
	            				<h2 class="card-title mt-3">Monday 8/28/17 @ 8pm</h2>
	            				<h3 class="card-title">
	            					El Rio<br>
	            					3158 Mission St.<br>
	            					San Francisco, CA
	            				</h3>
	            				<h4 class="card-title">
	            					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12619.379591358254!2d-122.4193922!3d37.7467828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2227d08ba8c63f33!2sEl+Rio!5e0!3m2!1sen!2sus!4v1503474069902" width="600" height="450" frameborder="0" style="border:0" class="img-fluid" allowfullscreen></iframe>
	            					<a href="http://www.elriosf.com/">www.elriosf.com</a>
	            				</h4>
	            			</div>
            			</div>
	            	</div>
	            </div>
	        </div><!-- .col -->
	    </div><!-- .row -->
	</div><!-- .container-fluid -->    
</div><!-- .viewport-container -->

<% include ../partials/footer.ejs %>