<% include ../partials/header.ejs %>

<div class="viewport-container">
	<div class="container-fluid">    
	    <div class="row">
	        <div class="col-12 text-center">
	            <div class="display-center-container">
	            	<h1>Wee Peevers</h1>
	            </div>
	        </div><!-- .col -->
	    </div><!-- .row -->
	</div><!-- .container-fluid -->    
</div><!-- .viewport-container -->

<% include ../partials/footer.ejs %>